<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moive.sus.welcomemodule">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="com.movie.android.welcome"
                    android:scheme="router" />
            </intent-filter>
        </activity>
    </application>

</manifest>